body {
    text-align: center;
    background-color: azure;
    font-family: "Microsoft Yahei Mono", Consolas, "Microsoft YaHei";
}

div {
    width: 750px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

div#overall_info, div#detail_info, div#detail_edit {
    width: 600px;
}

div.div_inline, div.button_column {
    display: inline-block;
    vertical-align: top;
}

div.button_column {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 80px;
}


tr.profit {
    color: red;
    height: 30px;
}

tr.loss {
    color: green;
    height: 30px;
}

table#overall {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

table#detail {
    font-size: 17px;
    margin-right: auto;
    margin-left: auto;
}

table#detail th {
    font-weight: bold;
    height: 30px;
}

.name {width: 80px; text-align: center;}
.price {width: 90px; text-align: right;}
.item {width: 100px; text-align: left;}


textarea#pos_string {width: 500px;}

p#auto_refresh {font-size: 15px;}

#snapshot, #history {
    width: 700px;
    height: 300px;
}